/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(51, 51, 51, 0);
  overflow: hidden;
  display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #000000;
  text-align: left;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d00;
  color: rgb(0, 0, 0);
}

.top-button {
  justify-content: flex-end;
}

.expand {
  flex-grow: 2;
}

body {
  display: flexbox;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
}

h1 {
  padding-top: 10%;
  font-size: 74px;
  font-weight: 700;
  justify-content: flex-start;
  align-items: center;
}

h3 {
  font-weight: 400;
}

.title {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
  align-items: flex-start;
}

div {
  align-items: stretch;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.gap {
  column-gap: 80px;
  padding-top: 10%;
}
